.hero-quotes{
    position: absolute;
    margin-top: 3%;
    width: 90%;
    height: 30%;
    background: #F7F8FC;
    box-shadow: inset 3px 0px 0px rgba(244, 167, 130, 0.91);

}

.phero-quotes{
    font-family: Roboto;
    font-style: italic;
    font-weight: 700;
    position: absolute;
    bottom: -50px;
    left: 35px;
    margin: 0px;
    width: 431px;
    height: 129px;
    font-size: 13px;

}

.fotojoedoe{
    position: absolute;
    width: 51px;
    height: 52px;
    left: 15px;
    top: 117%;
}

.textojoedoe{
    position: absolute;
    width: 141px;
    height: 55px;
    left: 80px;
    top: 117%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 150%;
    display: flex;
    align-items: center;
    letter-spacing: -0.02em;
    color: #9396AA;
 
}
.botonesarriba{
    position: absolute;
    bottom:  -125%;
    right: 30%;
    width: 15%;
}
.botones{
    background: #A5A8BD;
    border-radius: 50%;
    height: 16px;
    width: 16px;
    outline:none;
    opacity: 50%;
    border:none;
    margin-right: 10%;
}

.botones:focus{
    background: #4D517E;
}

.benefits-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.gridando{
    display: grid;
    grid-template-columns: 24% 24% 24%;
    text-align: center;
    grid-gap: 13% 8%;
    grid-template-rows: 50% 50%;
    justify-content: center;
}

.icono{
    width:  52px;
    height: 42px;
    margin: 5%;
}
.titulosgrid{
    font-family: quicksand;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: center;   
}
.parrafogrid{
    font-family: Quicksand;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: -0.01em;
    text-align: center;    
}

.parrafosgrid{
    font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 19px;
letter-spacing: 0em;
text-align: center;
}
.contenedortabletlista{
    display: flex;
    justify-content: space-evenly;
}


.titulowhatsinclude{
    font-family: Quicksand;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 54px;
    letter-spacing: -0.02em;
    text-align: center;
}
.textopuntosverdes{
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: -0.02em;
text-align: center;
}
.listaticks{
list-style: none;
width: 26%;
left: -3em;
position: relative;
}
.tabletnegra{
    right: -4em;
    position: relative;
}
li {
    margin-bottom: 4.5%;
}

.svg-inline--fa {
    margin-right: 3%;

}
.bntlista{
position: absolute;
top: 216%;
left: 58%;
}
.fotosreviews{
    width: 3.1em;
    height: 3.1em;
    margin-right: 1em;
}

.seccion1{
display: flex;
justify-content: space-evenly;

}
.seccion2{
    display: flex;
    justify-content: center;
    position: relative;
    left: 3%;
    padding: 6em;
}
.estiloseewhatour{
    font-size: 1.2rem;
    font-family: Quicksand;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.02em;
}
.comentario{
    width: 354px;
    height: 195px;
}
.iconoreviews{
    display: flex;
    justify-content: center;
}
fieldset{
background: #F3F4F5;
padding: 1em;
height: 14em;
width: 18em;
}
legend{
display: flex;
justify-content: center;
margin: -0.5em;

}
.footerreview{
    display: flex;
}
.parrafogrid2{
font-family: quicksand;
font-size: 14px;
font-style: italic;
font-weight: 400;
line-height: 21px;
letter-spacing: -0.02em;
text-align: left;
align-self: center;
}
.parrafogrid3{
margin: 0px;
align-self: center;
font-family: Roboto;
font-size: 13px;
font-style: normal;
font-weight: 400;
letter-spacing: -0.01em;
text-align: left;
}
.form-section{
    display: flex;
    justify-content: center;
}
.fromulario1{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.cuadro_formulario{
    height: 3em;
    width: 20.81em; position: relative;
    top: -2em;
    margin-right: 0.3em;
    border:none;
    border-radius: 6px;
    outline:none;
    margin-top: 3em;
}
.boton_formulario{
    position: relative;
    bottom: 2.6em;
    height: 3.5em;
	width: 5.5em;
    border-radius: 3px;
    outline:none;
    border:none;
    background-color: #EC6524;
    color: white;
    font-family: Roboto;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: center;

}
.containerform{
    background-color: #ECEEF4;
    width: 45em;
    height: 13.62em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.tituloget{
    font-family: Quicksand;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 42px;
    letter-spacing: -0.02em;
    text-align: center;
    margin: 0;
    margin-top: 1em;
}
.subtitulosignup{
    font-family: Quicksand;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.02em;
    text-align: center;
    margin: 0;
    color: #9F98A4;
}

::placeholder{
font-family: Quicksand;
font-size: 13px;
font-style: normal;
font-weight: 500;
line-height: 20px;
letter-spacing: -0.02em;
position: relative;
left: 1em;
opacity: 30%;
}